* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

a {
  color: unset !important;
  text-decoration: none !important;
}

header {
  background: #161616;
}
header nav {
  padding: 25px 0;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .links ul {
  list-style: none;
  margin-bottom: 0;
}
header nav .links li {
  display: inline-block;
  margin-left: 15px;
}

main {
  padding: 25px 0;
}
main h1 {
  margin-bottom: 20px;
}
main .num {
  color: red;
}
main .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .cards .card {
  width: calc(100% / 4 - 10px);
  padding: 0px 5px;
  margin: 5px;
}
main .cards .card a {
  color: white !important;
  background: #161616;
  border: 0;
  width: 100px;
  margin: 10px auto;
}
main .cards::after {
  content: "";
  flex: auto;
}
main .comic {
  display: flex;
  justify-content: space-around;
}
main .comic .card {
  width: 300px;
}
main .comic span, main .comic a {
  font-size: 18px;
}
main .comic .info {
  display: flex;
  flex-direction: column;
}
main .comic .info .buy {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
main .comic .info .buy .btn {
  color: white !important;
  background: #161616;
  margin-top: 15px;
}